body {
  padding-top: 50px;
}

.navspan {
	position: relative;
	display: block;
	padding: 15px;
	color: #777;
	line-height: 20px;
}

.navspan:hover {
	color: #333;
	cursor: pointer;
}

.dropdown-menu .navspan {
	display: block;
	padding: 3px 20px;
	clear: both;
	color: #777;
	line-height: 20px;
}

.dropdown-menu .navspan:hover {
	color: #262626;
	cursor: pointer;
	background-color: #f5f5f5;
}

.overlay {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
	background-color: rgba(0,0,0,0.8);
	display: none;
}

.modal_box {
	margin-top: 110px;
	background-color: #FFF;
	padding: 20px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.modal_title {
	position: relative;
	font-size: 40px;
	font-weight: 200;
	right: -20px;
	height: 40px;
	top: -75px;
	color: #FFF;
	text-align: right;
	margin-bottom: -40px;
}

.modal_error {
	position: relative;
	padding: 2px 4px;
	color: #C7254e;
	background-color: #F9F2F4;
	border-radius: 4px;
	margin-bottom: 10px;
	width: 100%;
	display: none;
}

.pagination-button {
	float: right;
	margin-top: 20px;
}

.inline {
	display: inline-block;
}

.rightbtns {
	position: absolute;
	right: 20px;
}

.extrapadding {
	padding-bottom: 50px;
}

.glyphicon-btn:hover {
	cursor: pointer;
}

.btn-extra-margin {
    margin-left: 10px;
}

.has-feedback .form-control-feedback {
	width: 54px;
	height: 44px;
	font-size: 34px;
}

.col-md-6 .form-control-feedback {
	width: 56px;
	padding-right: 22px;
}
.btn-wide {
    width: 100%;
    margin-bottom: 15px;
}
.caret-down {
    margin-top: 8px;
}
.ul-wide {
    width: 100%;
    margin-top: -15px;
}
.li-wide {
    width: 100%;
}

.big-info {
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

.color-subcomp {
    background-color: rgb(155, 155, 200) !important;
}

.list-group-item {
    background-color: #ECDFA0
}

#uploadformbtn {
    margin-left: 20px;
}
#addStudent {
    margin-bottom: 25px;
}
.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}
.coursesInputField
{
   display: block;
}
.feedbackForm {
    margin-top: 100px;
}

